body {
    background-image: url(images/restaurant_icons.png);
}

header {
    padding: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 35px; 
    color: rgb(87, 84, 84);
}

footer {
    padding:25px;
}

.container{
    padding-top: 20px;
}

#user-welcome{
    font-size: 18px;
    padding-top: 10px;
}

.card {
    width:500px;
}